<ion-header>
  <ion-toolbar>
    <ion-title>Rick and Morty</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<!-- FLITRO -->
    <!-- <div class="search-name">
      <input type="text" name="search" [(ngModel)]="searchText" placeholder=" SEARCH  ">
    </div> -->

    <ion-item>
      <ion-label>Filter: </ion-label>
      <ion-input type="text" [(ngModel)]="searchText" placeholder=" SEARCH  "></ion-input>
    </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let char of charter | filter:searchText"  [routerLink]="['/profile/' + char.id]">
            <ion-avatar slot="start">
              <img src="{{char.image}}">
            </ion-avatar>
            <ion-label>{{char.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

